Source: libsdl3-image
Maintainer: Debian SDL packages maintainers <pkg-sdl-maintainers@lists.alioth.debian.org>
Uploaders: Felix Geyer <fgeyer@debian.org>, Manuel A. Fernandez Montecelo <mafm@debian.org>, Simon McVittie <smcv@debian.org>
Section: libs
Priority: optional
Rules-Requires-Root: no
Build-Depends: cmake (>= 3.16),
               debhelper-compat (= 13),
               libsdl3-dev (>= 3.2.0),
               libjpeg-dev,
               libpng-dev,
               libtiff-dev,
               libwebp-dev,
               ninja-build,
               pkgconf,
               zlib1g-dev
Standards-Version: 4.7.0
Homepage: https://github.com/libsdl-org/SDL_image
Vcs-Browser: https://salsa.debian.org/sdl-team/libsdl3-image
Vcs-Git: https://salsa.debian.org/sdl-team/libsdl3-image.git

Package: libsdl3-image0
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Image loading library for Simple DirectMedia Layer 3, libraries
 This is a simple library to load images of various formats as SDL surfaces.  It
 supports the following formats: BMP, GIF, JPEG, LBM, PCX, PNG, PNM, TGA, TIFF,
 WEBP, XPM, XV.
 .
 This package contains the shared library.

Package: libsdl3-image-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: ${misc:Depends},
         libjpeg-dev,
         libpng-dev,
         libsdl3-dev (>= 3.2.0),
         libsdl3-image0 (= ${binary:Version}),
         libtiff-dev,
         libwebp-dev,
Description: Image loading library for Simple DirectMedia Layer 3, development files
 This is a simple library to load images of various formats as SDL surfaces.  It
 supports the following formats: BMP, GIF, JPEG, LBM, PCX, PNG, PNM, TGA, TIFF,
 WEBP, XPM, XV.
 .
 This package contains the development files.

Package: libsdl3-image-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Build-Profiles: <!nodoc>
Depends:
 ${misc:Depends},
Description: Image loading library for Simple DirectMedia Layer 3 - documentation
 This is a simple library to load images of various formats as SDL surfaces.  It
 supports the following formats: BMP, GIF, JPEG, LBM, PCX, PNG, PNM, TGA, TIFF,
 WEBP, XPM, XV.
 .
 This package contains the reference manual and examples.

Package: libsdl3-image-tests
Build-Profiles: <!noinsttest>
Architecture: any
Section: misc
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libsdl3-image0 (= ${binary:Version}),
Description: Image loading library for Simple DirectMedia Layer 3 - tests
 This is a simple library to load images of various formats as SDL surfaces.  It
 supports the following formats: BMP, GIF, JPEG, LBM, PCX, PNG, PNM, TGA, TIFF,
 WEBP, XPM, XV.
 .
 This package contains automated and manual tests.
